.main {
    grid-area: i1;
    background-color: rgb(44, 150, 70);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    margin-top: 50px;
}

.image img {
    width: 100px;
}