.main {
    min-height: 300px;
    width: 100%;
    display: flex;
}

.userInfo {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: rgb(230, 230, 230, 1);
    font-size: 20px;
}

.userPhoto {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 30px;
}

.userPhoto img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.userTextInfo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.inputStatus {
    font-size: 20px;
    color: rgb(230, 230, 230, 1);
    background-color: rgb(30, 30, 30);
}

.userNameLogOut{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
}

.userNameLogOut p {
    font-size: 40px;
}

.userNameLogOut button,
.userTextInfo button,
.saveBtn,
.cancelBtn {
    margin: 10px;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(230, 230, 230);
    padding: revert;
}

.userTextInfo button img {
    width: 20px;
    height: 20px;
}

.cancelBtn {
    background-color: #E60F0F;
    color: rgb(230, 230, 230);
    border-color: rgb(230, 230, 230);
}

.userNameLogOut button:hover,
.userTextInfo button:hover,
.saveBtn:hover,
.cancelBtn:hover {
    cursor: pointer;
    color: rgb(179, 21, 21);
    border-color: rgb(179, 21, 21);
}

.active {
    display: block;
}

.notActive {
    display: none;
}

.setNewPhotoParent {
    position: absolute;
    width: 200px;
    height: 200px;
}

.setNewPhoto {
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.setNewPhoto img {
    width: 32px;
    height: 32px;
}

.setNewPhoto input {
    display: none;
}

.userInfoForm {
    display: flex;
    flex-direction: column;
}

.errorText {
    color: #E60F0F;
    font-size: 15px;
}

.errorApi {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100px;
    background-color: #E60F0F;
    color: white;
}