.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.users {
    width: 50%;
}

.user {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(230, 230, 230);
}

.userPhoto {
    width: 10%;
}

.userPhoto img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.userName {
    width: 50%;
}

.followBtn {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.followBtn button {
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(230, 230, 230);
    height: 40px;
    width: 100px;
}

.followBtn button:hover {
    cursor: pointer;
    color: rgb(179, 21, 21);
    border-color: rgb(179, 21, 21);
}

.paginationNumbers {
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.paginationNumber {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(201, 23, 23);
    color: rgb(230, 230, 230);
    border-radius: 10px;
    font-weight: bold;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationNumber:hover {
    background-color: rgb(180, 180, 180);
    color: rgb(30, 30, 30);
    cursor: pointer;
}

.paginationNumberActive {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(230, 230, 230);
    color: rgb(30, 30, 30);
    border-radius: 10px;
    font-weight: bold;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationNumberHold {
    display: none;
}