.main {
    grid-area: i2;
    width: 100%;
}

.personalInfo {
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
}

.personalInfo > p {
    margin-left: 40px;
    font-size: 30px;
}