.newComm {
    display: flex;
    width: 80%;
    min-height: 100px;
    margin: 10px;
    border-radius: 10px;
    border-color: rgb(180, 180, 180);
    border-style: solid;
    align-items: center;
    justify-content: flex-start;
}

.logo>img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-top: 20px;
}

.logo {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.comment {
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
}

.like {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
    margin-top: 20px;
}