.navBar {
    background-color: rgba(30, 30, 30, 1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    margin: 50px;
    width: 100px;
}

.link {
    color: white;
    font-size: 15px;
}

.active {
    color: #E60F0F;
    font-size: 18px;
}