.app-wrapper {
  display: grid;
  grid-template-areas:
    "n"
    "c"
    "f";
  grid-template-rows: 150fr 1500fr 150fr;
}

.navbar {
  grid-area: n;
  background-color: rgba(30, 30, 30, 1);
}

.content {
  grid-area: c;
  background-color: rgb(77, 122, 148);
}

.footer {
  grid-area: f;
  background-color: rgba(30, 30, 30, 1);
}