.app-wrapper {
    display: grid;
    grid-template-areas: "n" "c" "f";
    grid-template-rows: 80px 500fr 200px;
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(77, 122, 148);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}