.main {
    display: grid;
    width: 90%;
    grid-template-columns: 20% 80%;
}

.dialogs {
    background-color: rgb(40, 40, 40);
    max-height: 500px;
    overflow: auto;
}

.dialog {
    display: flex;
    flex-direction: column;
}